@import '../../styles/variables';

.main {
  padding-top: 20px;

  &__container {
    background-color: #e7ebea;
    border: 1px solid $border-color-grey;
    border-radius: 5px;
    margin: 0 auto !important;
    padding-bottom: 20px;
  }

  &__content {
    height: 100%;
  }
}
