@import '../../styles/variables';

.main {
  min-height: calc(100vh - 149px);

  &__container {
    background-color: #e7ebea;
    border: 1px solid $border-color-grey;
    border-radius: 5px;
    margin: 0 auto !important;
    padding-bottom: 20px;
  }

  &__content {
    height: 100%;
  }
}

.alert {
  width: 280px;
  margin: 0 auto;
  text-align: center;

  &__title {
    font-size: 22px;
    font-weight: $font-weight-bolder;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
