@import "../../styles/variables";

.editor {
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    padding-top: 10px;
    background-color: #FFF;
    align-content: space-between;
    
    &__button {
        background-color: $color-1 !important;
    }     

    &__codemirror {
        height: 80%;
        transition: 0.5s;

        &_open {
            height: 60%;
        }

        .CodeMirror-scroll { 
            padding-bottom: 20px;
        }        
    }
    
    &__options {
        border-top: 1px solid $border-color-grey;
        height: 20px;
        margin-bottom: 0;
        transition: 0.5s;
        height: 60px;
      
        &_open {
           height: 230px;
        }
      }
}

.options {
    &__buttons {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        width: calc(100% - 30px);     
        margin: 10px 20px;         
    }   

    &__buttons-section {
        display: flex;

        & :first-child {
            margin-right: 10px !important;
        }
    }

    &__button-section {
        width: 100px !important;
        background-color: $color-1 !important;

        &_active {
            background-color: $color-3 !important;
        }
    }

    &__button-close {
        visibility: hidden;

        &_open {
            visibility: visible;
        }
    }

    &__content {
        margin: 10px;
        width: 100%;
        height: 150px;
        visibility: hidden;
        margin-bottom: 10px;
        transition: 0.5s;

        &_open {
            visibility: visible;
        }
    }
}

.variables {
    width: calc(100% - 30px);
    resize: none;
    height: 100px;

    &:focus {
        outline: none;
    }
}

.headers {
    display: flex;
    flex-direction: column;

    &__header {
        margin-bottom: 10px;
    }
}
