// ==================== General ===================

// ===================== Color ====================
$color-1: #00ACC1;
$color-2: #00C1BE;
$color-3: #40D4AF;
$color-4: #7CE499;
$color-5: #B9F181;
$color-6: #F9F871;


// ===================== Font =====================
$font-family-base: Nunito, Roboto, sans-serif;
$font-family-add: Lora, serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 700;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-llg: 20px;
$font-size-lgg: 22px;
$font-size-xlg: 24px;
$font-size-xxlg: 28px;
$font-size-xxxlg: 36px;

$line-height-xs: 0.8em;
$line-height-sm: 1.2em;
$line-height-m: 1.25em;
$line-height-l: 1.5em;