// ==================== General ===================

// ===================== Color ====================
$backgraund-color-base: #e7ebea;

$color-white: #FFF;
$border-color-grey: #aaaead;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 700;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-llg: 20px;
$font-size-lgg: 22px;
$font-size-xlg: 24px;
$font-size-xxlg: 28px;
$font-size-xxxlg: 36px;
