.documentation-panel {
  display: flex;
  flex-direction: column;
  height: 70vh;
  border-radius: 5px;
  overflow: hidden;
  background-color: black;
  margin-right: 10px;

  & &__content {
    margin: 5px 0;
    overflow: auto;
    padding: 0 10px;
  }
}