.header {
    &__logo {
        font-family: 'Nunito';
        font-weight: 700;
        letter-spacing: .1rem;
        color: #B9F181;
        text-decoration: none;
        margin-right: 10px;
        margin-left: 10px !important;
    }
}