.response {
  padding-bottom: 20px;
  height: 100%;
  margin-bottom: 10px;

  &__text {
    text-align: center;
    margin-top: 20px;
  }

  &__container {
    margin: 20px;
    overflow: auto; 
    height: 100%;
  }
}
