.response {
  padding-bottom: 10px;

  &__text {
    text-align: center;
    margin-top: 20px;
  }

  &__container {
    margin: 20px;
    overflow-y: auto;
    min-height: 350px;
    height: 100%;
  }
}
