.welcome-content {
  max-width: 1000px;
  margin: 0 auto 50px auto;

  & &__developer-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

  }

  & &__developer-card {
    width: 300px;
    margin: 20px 0 0 0;
  }

  @media only screen and (min-width: 1000px) {
    & &__developer-cards {
      flex-direction: row;
      align-items: flex-start;
    }
  }

}
